

Werkstuk versie 1.aux
Werkstuk versie 1.bbl
Werkstuk versie 1.blg
Werkstuk versie 1.log
Werkstuk versie 1.pdf
Werkstuk versie 1.synctex.gz
Werkstuk versie 2.aux
Werkstuk versie 2.bbl
Werkstuk versie 2.blg
Werkstuk versie 2.log
Werkstuk versie 2.pdf
Werkstuk versie 2.synctex.gz
Werkstuk versie 2_Suus af.tex
Werkstuk versie 2_Lotte.tex
Werkstuk versie 3.bbl
Werkstuk versie 3.aux
Werkstuk versie 3.log
Werkstuk versie 3.blg
Werkstuk versie 3.pdf
Werkstuk versie 3.synctex.gz
